{% extends "layout.html"%}
{% block content %}
<center>
</center>
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
        <h2>CONTACT</h2>
        <div class="w3-row w3-padding-32">
        <div class="w3-col m6 w3-large w3-margin-bottom">
            <i class="fa fa-female" style="width:30px"></i> Novita Prahastha<br>
            <i class="fa fa-map-marker" style="width:30px"></i> Jakarta, Indonesia<br>
            <i class="fa fa-envelope" style="width:30px"> </i> Email: novitaprahastha@gmail.com<br>
        </div>
        </div>
    </div>

{% endblock content %}